html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    color:black;
}

#main{
    position:relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#root{
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(120deg, #1DB954, #333d2f); */
    /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
    background-image: linear-gradient(45deg, #1199ca 0%, #09e682 100%);
    background-size: 250%;
    background-position: left;
    animation: animate-bg 7s infinite alternate;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    width: calc(100% - 20%);
    transform: translate(-50%, -50%);
    background-color: #c5dcf3;
    border: 5px solid rgb(66, 187, 151);
    border-radius: 15px;
    padding: 15px;
}

.musicControllerText{
    background-image: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671);
    background-size: 250%;
    animation: animate-bg 7s infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

@keyframes animate-bg{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}